@import url("https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine';
}

.container {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, red, black);
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 50px 50px 50px pink;
}

.center_header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 5px dotted brown;
}